body{
    background-color: khaki;
}
.welcome{
    width: 100%;
}
.welcome button{
background-color: red;
color: white;
}
.welcome button:hover{
    background-color: #fff;
    color: red;
}
#orderbtn{
    padding: 10px;
    color: white;
    background-color: green;
}
#signoutbtn{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
}
#signoutbtn:hover{
    background-color: white;
    color: black;
}
#editbtn,#takeorderbtn{
    padding: 10px 15px;
    background-color: blue;
    color: white;
}
#editbtn :hover,#takeorderbtn :hover{

    background-color: white;
    color: blue;
}
#deletebtn,#cancelbtn{
    padding: 10px 20px;
    background-color: red;
    color: white;
}
#deletebtn,#cancelbtn :hover{
    padding: 10px 20px;
    background-color: white;
    color: black;
}
#addMedicine:hover{
    padding: 10px 20px;
    background-color: white;
    color: black;
}
#addMedicine{
    padding: 10px 20px;
    background-color: red;
    color: white;
}
#deletebtn:hover{
    padding: 10px 20px;
    background-color: white;
    color: black;
}
#recharge{
    padding: 10px;
    background-color: green;
    color: white;
}
#recharge :hover{
    background-color: #fff;
    color: black;
}
#signoutbtn{
    justify-content: right;
    margin-left: auto;
}
#signoutbtn button{
    padding: 10px;
    border: none;
    background-color: red;
}
.homepage{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    padding: 50px;
    border-radius: 5px;
    border: 1px solid black;
    width: fit-content;
}

.signin,.signup{
    background-color: red;
    color: white;
    font-family: sans-serif;
    padding: 10px;
    font-size: 20px;
    border: none;
    margin: 20px;
    border: 1px solid black;
    border-radius: 5px;
}
.signin:hover,.signup:hover{
    background-color: white;
    color: black;
}
.signinpage{
    padding: 50px;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 0px auto;
    display: none;
}

.signuppage{
    padding: 50px;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 0px auto;
    display: none;
}
.loggedInPage{
    margin: 10px;
    display: none;
}
.loggedInPage button{
font-family: sans-serif;
font-weight: bold;
padding: 10px;
border: none;
margin: 0px;
width: 16.6%;
}
.loggedInPage button:hover{
background-color: red;
color: white;
}
#medicineList{
    width: fit-content;
}
.takeorder{
    display: none;
    flex-direction: column;
    width: 200px;
}